body {
	margin: 0;
	height: 100vh;
}

p {
	margin: 0;
}

.profile-photo {
	border-radius: 100%;
}

.username {
	font-weight: 900;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#main-container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 180px 1fr;
}

#header {
	background-color: white;
	grid-column: 2 / -1;
	grid-row: 1 / 2;
	padding: 8px 32px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto 1fr;
	align-items: center;
}

#header > :nth-child(1) {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 10px;
	justify-items: start;
	align-items: center;
}

#header > :nth-child(1) > input {
	background-color: rgb(218, 218, 218);
	width: 500px;
	height: 24px;
	font-size: 1.2rem;
	border-radius: 10px;
	border: none;
	padding: 1px 6px;
}

#header > :nth-child(2) {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, auto);
	justify-content: end;
	justify-items: center;
	align-items: center;
	margin-right: 30px;
}

#header > :nth-child(2) > img {
	width: 50px;
}

#header > :nth-child(3) {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 8px;
}

#header > :nth-child(3) > img {
	width: 75px;
	grid-column: 1 / 2;
	grid-row: 1 / -1;
}

#header > :nth-child(3) > div {
	margin: 10px 0;
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 8px;
}

#header > :nth-child(4) {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 18px;
}

#header > :nth-child(4) > button {
	background-color: rgb(42, 162, 218);
	border: none;
	border-radius: 18px;
	padding: 10px;
	color: white;
	font-weight: 900;
}


#sidebar {
	background-color: aqua;
	grid-column: 1 / 2;
	grid-row: 1 / -1;
	display: grid;
	align-content: start;
	gap: 18px;
}

#content {
	background-color: gray;
	grid-column: 2 / -1;
	grid-row: 2 / -1;
}