body {
	margin: 0;
	height: 100vh;
}

#main-container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 180px 1fr;
}

#header {
	background-color: white;
	grid-column: 2 / -1;
	grid-row: 1 / 2;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr;
}

#sidebar {
	background-color: aqua;
	grid-column: 1 / 2;
	grid-row: 1 / -1;
	display: grid;
	align-content: start;
	gap: 18px;
}

#content {
	background-color: gray;
	grid-column: 2 / -1;
	grid-row: 2 / -1;
}